@using AdCms.Domain.Model
@using AdCms.Web.Models
@model AdsViewModel

@if (Model.Ads != null && Model.Ads.Count > 0)
{
    <div id="divControlPanels">
        
    </div>
    
    <table id="tbAds">
        <tr>
            <th>AdId</th>
            <th>BrandId</th>
            <th>Name</th>
            <th>NumPages</th>
            <th>Position</th>
        </tr>
        @foreach (AdsDo adsDo in Model.Ads)
        {
            <tr>
                <td>@Html.Raw(adsDo.AdId)</td>
                <td>@Html.Raw(adsDo.BrandId)</td>
                <td>@Html.Raw(adsDo.BrandName)</td>
                <td>@Html.Raw(adsDo.NumPages)</td>
                <td>@Html.Raw(adsDo.Position)</td>
            </tr>
        }
    </table>
    
     if (Model.EnablePaging)
     {
        
     }
}
